<?xml version='1.0'?>
<robot name="Test_Robot">

    <!-- Wood Base Link [0] -->
    <link name="Base_Wood">
        <inertial>
            <mass value="1.0"/>  <!-- Mass in kilograms -->
            <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Center of mass position (relative to link frame) -->
            <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>  <!-- Inertia matrix -->
        </inertial>
        <visual>
            <geometry>
                <box size="0.14 0.14 0.14"/>
            </geometry>
            <material name="dark_gray">
                <color rgba="0.4 0.4 0.4 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="test.obj"/>
            </geometry>
        </collision>
    </link>

</robot>
